<!doctype html>
<html>
  <head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>
    COMPANY WELCOME EMAIL (this version is only for Standalone Plan + Pending Payment)
    Subject: MEDNEFITS WELCOME PACK (FOR COMPANY)
  </title>

  <style type="text/css">
    .social-contact{
      text-align: center;
      margin: 20px 0 0px 0;
    }

    .social-icons{
      text-align: center;
      margin: 20px 0;
    }

    #main-template-wrapper{
      margin: 50px auto;
    }

    @media only screen and (max-width: 700px) {
      #main-template-wrapper{
        margin: 0;
      }
    }

    @media only screen and (max-width: 485px) {
      .social-contact{
        float: none;
        display: block;
      }

      .social-icons{
        float: none;
        display: block;
      }
    }
  </style>

  </head>

  <body style="font-family:'Arial';box-sizing: border-box;margin: 0;padding: 0;display: block;background-color: #F1F1F1">

    <div id="main-template-wrapper" style="width: 700px;height: 100%;position: relative;overflow: hidden;background: #FFF;box-shadow: -1px 2px 2px #bbb;">

      <div style="position:relative;min-height: 500px;padding: 50px">
        <div style="width: 100%;text-align: center;height: 100px;border-bottom: 2px solid #ddd;margin-bottom: 50px;">
          <img src="https://s3-ap-southeast-1.amazonaws.com/mednefits/images/Mednefits Logo (BLUE).png" style="width: 220px;">
        </div>

        <p style="margin-bottom: 40px;">Dear <%= emailName %>,</p>

        <p style="font-size: 25px;color: #0392cf;font-weight: 700;">Welcome to Mednefits!</p>
        <p style="margin-bottom: 20px;font-weight: 700;"><%= company_name %></p>
        <p style="margin-bottom: 20px;">Once again thank you for joining us. Our mission is to make your corporate benefits simple, human and affordable. We are excited to embark the journey with you and your team.</p>

        <p style="margin-bottom: 30px;">To get you started, we have created a Company Guide for you.</p>

        <a href="https://s3-ap-southeast-1.amazonaws.com/mednefits/pdf/Mednefits_Guide_for_Company_18_Feb_2019.pdf" style="width:186px;margin: 0 0 40px 0;padding: 14px 0px;border: none;border-radius: 4px;background: #3b84f1;color: #FFF;display: inline-block;font-size: 12px;text-decoration: none;text-align: center;">DOWNLOAD GUIDE</a>

        <p style="font-size: 25px;color: #0392cf;font-weight: 700;">Company Account Login</p>

        <p style="margin: 0"><span style="font-weight: 700;display: inline-block;width: 120px;">Login Email:</span> <%= email %></p>
        <p style="margin: 0"><span style="font-weight: 700;display: inline-block;width: 120px;">Password:</span> <%= password %></p>

        <p>Enroll all your team members into the plan before the start date by clicking the access account button below. You may choose to enrol your team members via excel import or web input in your Company Benefits Portal.</p>

        <a href="<%= account_link %>" style="margin: 15px 0 30px 0;padding: 14px 18px;border: none;border-radius: 4px;background: #3b84f1;color: #FFF;display: inline-block;font-size: 12px;text-decoration: none;">ACCESS YOUR ACCOUNT</a>

        <p style="font-size: 25px;color: #0392cf;font-weight: 700;">Account & Billing</p>

        <p>Kindly please make your payment before the due date stated in the invoice. Access your invoice in your Company Benefits Portal at <a style="color: #333" href="https://medicloud.sg/company-benefits-dashboard#/account-and-billing/transactions">https://medicloud.sg/company-benefits-dashboard#/account-and-billing/transactions</a></p>

        <p>To get you started, download the welcome pack we prepared for you in your Company Benefits Portal at <a style="color: #333" href="https://medicloud.sg/company-benefits-dashboard#/account-and-billing/document-center">https://medicloud.sg/company-benefits-dashboard#/account-and-billing/document-center</a></p>


        <p>In Account & Billing, you will also be able to:</p>
        <ul style="margin: 0;">
          <li>
            Update your business contact information
          </li>
          <li>
            Update your company billing/payment information
          </li>
          <li>
            Review your company billing history
          </li>
          <li>
            Change your company account password
          </li>
        </ul>

        <p style="font-size: 25px;color: #0392cf;font-weight: 700;margin-top: 60px;">Need help?</p>

        <p>We are always here to help. Should you encounter any issues or have any questions, feel free to contact us:</p>

        <p style="margin:0;font-weight: 700">You may ring us</p>
        <p style="margin:0;">+65 6254 7889</p>
        <p style="margin-top:0;">Mon - Fri 10:00 to 19:00</p>

        <p style="margin:0;font-weight: 700">Drop us a note, anytime</p>
        <p style="margin-top:0;margin-bottom: 40px;">happiness@mednefits.com</p>


        <p style="">Thank you</p>
        <p style="margin-bottom: 40px">Your Mednefits Team</p>

        <div style="width: 100%;border-top: 2px solid #999;padding-top: 10px;">
          <div class="social-icons" style="">
            <div style="display: inline-block;">
              <a href="https://www.facebook.com/Mednefits/">
                <img src="https://s3-ap-southeast-1.amazonaws.com/mednefits/e-template-img/facebook-2.png" style="width: 35px;float: left;margin-right: 10px;">
              </a>
              <a href="https://www.youtube.com/channel/UC-V-ZvH3HWCgpkjvYUiUv1w">
                <img src="https://s3-ap-southeast-1.amazonaws.com/mednefits/e-template-img/YouTube.png" style="width: 35px;float: left;margin-right: 10px;">
              </a>
              <a href="https://www.linkedin.com/company/mednefits/">
                <img src="https://s3-ap-southeast-1.amazonaws.com/mednefits/e-template-img/linkedin-2.png" style="width: 35px;float: left;">
              </a>
            </div>
          </div>

          <div class="social-contact">
            <img src="https://s3-ap-southeast-1.amazonaws.com/mednefits/images/mednefits_logo_v3_blue_box_LARGE.png" style="width: 35px;margin-bottom: 10px;">

            <p style="color: #807b7b;margin: 0;font-size: 12px;">7 Temasek Boulevard, #18-02,</p>
            <p style="color: #807b7b;margin: 0;font-size: 12px;">Suntec Tower One, Singapore 038987</p>
          </div>
        </div>

      </div>
      
    </div>

  </body>
</html>
